<div class="main">
    <h1>
        Profile
    </h1>


    <md-tab-group>
        <md-tab label="Favorite Movies">
            <p class="message" *ngIf="!userData.favoriteMovies.length">
                You should add something here!
            </p>
            <md-card class="card" *ngFor="let item of userData.favoriteMovies">
                <md-card-header>
                    <md-card-title>{{item.name}} ({{item.original_name}})</md-card-title>
                    <md-card-subtitle>{{ item.genre_ids | category:movieGenres }}</md-card-subtitle>
                </md-card-header>
                <img md-card-image src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ item.poster_path }}">
                <md-card-content>
                    <p>
                        {{ item.overview }}
                    </p>
                    <p>{{item.vote_average}}<md-icon>star</md-icon></p>
                </md-card-content>
                <md-card-actions>
                    <button md-button><md-icon>star</md-icon>LIKE</button>
                    <button md-button><md-icon>star</md-icon>SHARE</button>
                </md-card-actions>
            </md-card>
        </md-tab>
        <md-tab label="Favorite TV">
            <p class="message" *ngIf="!userData.favoriteTV.length">
                You should add something here!
            </p>
            <md-card class="card" *ngFor="let item of userData.favoriteTV">
                <md-card-header>
                    <md-card-title>{{item.name}} ({{item.original_name}})</md-card-title>
                    <md-card-subtitle>{{ item.genre_ids | category:tvGenres }}</md-card-subtitle>
                </md-card-header>
                <img md-card-image src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ item.poster_path }}">
                <md-card-content>
                    <p>
                        {{ item.overview }}
                    </p>
                    <p>{{item.vote_average}}<md-icon>star</md-icon></p>
                </md-card-content>
                <md-card-actions>
                    <button md-button><md-icon>star</md-icon>LIKE</button>
                    <button md-button><md-icon>star</md-icon>SHARE</button>
                </md-card-actions>
            </md-card>
        </md-tab>
        <md-tab label="WatchList Movies">
            <p class="message" *ngIf="!userData.watchListMovies.length">
                You should add something here!
            </p>
            <md-card class="card" *ngFor="let item of userData.watchListMovies">
            <md-card-header>
                <md-card-title>{{item.name}} ({{item.original_name}})</md-card-title>
                <md-card-subtitle>{{ item.genre_ids | category:movieGenres }}</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ item.poster_path }}">
            <md-card-content>
                <p>
                    {{ item.overview }}
                </p>
                <p>{{item.vote_average}}<md-icon>star</md-icon></p>
            </md-card-content>
            <md-card-actions>
                <button md-button><md-icon>star</md-icon>LIKE</button>
                <button md-button><md-icon>star</md-icon>SHARE</button>
            </md-card-actions>
        </md-card>
        </md-tab>
        <md-tab label="WatchList TV">
            <p class="message" *ngIf="!userData.watchListTV.length">
                You should add something here!
            </p>
            <md-card class="card" *ngFor="let item of userData.watchListTV">
                <md-card-header>
                    <md-card-title>{{item.name}} ({{item.original_name}})</md-card-title>
                    <md-card-subtitle>{{ item.genre_ids | category:tvGenres }}</md-card-subtitle>
                </md-card-header>
                <img md-card-image src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ item.poster_path }}">
                <md-card-content>
                    <p>
                        {{ item.overview }}
                    </p>
                    <p>{{item.vote_average}}<md-icon>star</md-icon></p>
                </md-card-content>
                <md-card-actions>
                    <button md-button><md-icon>star</md-icon>LIKE</button>
                    <button md-button><md-icon>star</md-icon>SHARE</button>
                </md-card-actions>
            </md-card>
        </md-tab>
    </md-tab-group>


</div>
