// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

main {
  height:100%;
}

.login{
  float: right;
  position: absolute;
  right: 10px;
}