<h3 class="content-title">Welcome to the Ranking</h3>
<p class="content-text">Here you can find the rating for every thing you want</p>
<form novalidate [formGroup]="filterForm">
  <table cellspacing="0">
    <tr>
      <td>
        <md-input-container>
          <input formControlName="year" md-input #year maxlength="4" placeholder="Year">
          <md-hint align="end">{{year.value.length}} / 4</md-hint>
        </md-input-container>
      </td>
      <td>
        <md-select formControlName="filter" placeholder="Filter by">
          <md-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
          </md-option>
        </md-select>
      </td>
      <td>
        <md-select formControlName="type" placeholder="Select type">
          <md-option *ngFor="let type of types" [value]="type.value">
            {{ type.viewValue }}
          </md-option>
        </md-select>
      </td>
      <td>
        <button md-button (click)="filter()">Go Filter!</button>
      </td>
    </tr>
  </table>
</form>
<md-card *ngFor="let result of results" class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{result.original_title || result.original_name}}</md-card-title>
    <md-card-subtitle>Rate: {{result.vote_average}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ result.poster_path }}">
  <md-card-content>
    <p>
      {{ result.overview}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>